<html  class="bgog animated fadeIn">

<head>

  <title>SD | APP SHOWCASE</title>

  <meta name="theme-color" content="black" />

  <meta name="DESCRIPTION"
    content="Your Modern Web. A web application is the way the modern web user interacts with web content. Get in touch and build your own! ">
    <base href="/">

  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />

  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
  <link href="./css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

  <!-- JavaScript Dependencies -->

  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery-ui.min.js"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <script src="/js/angular-chart.js"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/routes.js" type="text/javascript"></script>


  <!-- JavaScript Dependencies -->

</head>


<body >  


  <a href="#backtotop" class="red-text">
  <i class = "material-icons red-text" style=" position:fixed; font-size:100px; bottom:20px; right:0; z-index:1000">change_history</i>
  </a>

  
  <div  ng-click='toppa()' class = "section scrollspy " id="rose" style=" position:absolute; height: 40px; width:40px;font-size:100px; top:1604; right:0; z-index:1000"></div>
  <div  ng-click='toppa()' class = "section scrollspy " id="qlh" style=" position:absolute; height: 40px; width:40px;font-size:100px; top:3019; right:0; z-index:1000"></div>
  <div  ng-click='toppa()' class = "section scrollspy " id="cryptowatch" style=" position:absolute; height: 40px; width:40px;font-size:100px; top:4468; right:0; z-index:1000"></div>


<div class="section scrollspy" id="backtotop" >

  <div class = "row">

    <div class = "row">

      <div class = "col s6 left-align">

        <p class= "montserrat flow-text animated fadeIn white-text btnon" style="font-size:58px;"> <span class="white-text">SHINE</span>DESIGN APP <span class="white-text">SHOW</span>CASE</p>
        <div class ="col s9" style="border-bottom:3px solid white;"></div>
        <div class ="col s3" ></div>

      </div>
      <div class = "col s6">

        <div class = "col s4 center-align" >
          <a  href="#rose"   class="white-text rosebutton" > 
          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> #1</p>
          </a>
          <div class = "col s3"></div>
          <div class ="col s6" style="border-bottom:3px solid white;"></div>
          <div class = 'col s3'></div>
        </div>

        <div class = "col s4 center-align">
          <a href="#qlh" class="white-text" >
            <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> #2</p>
            </a> 
            <div class = "col s3"></div>
            <div class ="col s6" style="border-bottom:3px solid white;"></div>
            <div class = 'col s3'></div>       
        </div>

        <div class = "col s4 center-align">
          <a href="#cryptowatch" class="white-text" >
            <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> #3</p>
            </a>    
            <div class = "col s3"></div>
            <div class ="col s6" style="border-bottom:3px solid white;"></div>
            <div class = 'col s3'></div>    
        </div>

     
    </div>
      
      <div class = "row">

      <div class = "col s6">
      
        

      </div>
      <div class = "col s6">

      </div>
      </div>

      <div class = "row section scrollspy" id="top" >
        <div class = "col s6 left-align" ">

          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:40px;"> Relevant Experience |</p>
        </div>
          
        <div class = "col s6 left-align" ">

          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> SHINE DESIGN APP HOUSE</p>
          <div class = "col s2"></div>

          <div class = "col s8" style="border-bottom: 3px solid white;"></div>

          <div class = "col s2"></div>

          <div class = "row">

            <div class = "col s12">

              <p class = "montserrat flow-text white-text">
                - Designing and developing full-stack web applications, with a development history including Employee Management, 
                Inventory Management, E-Commerce, Social Media, Data Visualisation, and more.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using modern Front-End JavaScript Frameworks, ( Angular, React, Bootstrap, Express, etc), to create powerful, dynamic, scalable, and secure experiences on the web.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using HTML, and CSS, along with modern CSS Frameworks to produce expressive, stylish, and responsive UIs, and UXs.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using powerful back-end technologies and frameworks, ( Nodejs, Express, MongoDB, Mongoose, etc), to write feature-full, logical, and secure Runtimes, APIs, and Build Pipelines, and more!.
              </p>
              <p class = "montserrat flow-text white-text">
                - Prototyping  applications, and creating proposals tailored to attract clientele of various backgrounds,  and that communicate technical concepts effectively.
              </p>
              <p class = "montserrat flow-text white-text">
                - Communicating clearly with clients so as to better understand their wants/ needs, and creating software that meets those needs, while managing expectations. 
              </p>
              <p class = "montserrat flow-text white-text">
                - Meeting, timelines and deadlines. A large focus on time management.
              </p>
              <p class = "montserrat flow-text white-text">
                - Staying informed of the latest market and technology trends in the tech sector.
              </p>
              <p class = "montserrat flow-text white-text">
                - References Available Upon request.
              </p>

            </div>
        </div>

        <div class = "col s12 left-align" ">

          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> SHINE DESIGN APP HOUSE</p>
          <div class = "col s2"></div>

          <div class = "col s8" style="border-bottom: 3px solid white;"></div>

          <div class = "col s2"></div>

          <div class = "row">

            <div class = "col s12">

              <p class = "montserrat flow-text white-text">
                - Designing and developing full-stack web applications, with a development history including Employee Management, 
                Inventory Management, E-Commerce, Social Media, Data Visualisation, and more.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using modern Front-End JavaScript Frameworks, ( Angular, React, Bootstrap, Express, etc), to create powerful, dynamic, scalable, and secure experiences on the web.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using HTML, and CSS, along with modern CSS Frameworks to produce expressive, stylish, and responsive UIs, and UXs.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using powerful back-end technologies and frameworks, ( Nodejs, Express, MongoDB, Mongoose, etc), to write feature-full, logical, and secure Runtimes, APIs, and Build Pipelines, and more!.
              </p>
              <p class = "montserrat flow-text white-text">
                - Prototyping  applications, and creating proposals tailored to attract clientele of various backgrounds,  and that communicate technical concepts effectively.
              </p>
              <p class = "montserrat flow-text white-text">
                - Communicating clearly with clients so as to better understand their wants/ needs, and creating software that meets those needs, while managing expectations. 
              </p>
              <p class = "montserrat flow-text white-text">
                - Meeting, timelines and deadlines. A large focus on time management.
              </p>
              <p class = "montserrat flow-text white-text">
                - Staying informed of the latest market and technology trends in the tech sector.
              </p>
              <p class = "montserrat flow-text white-text">
                - References Available Upon request.
              </p>

            </div>

          </div>

          <div class = "row">
            <div class = "col s12">

              <p class = "montserrat flow-text white-text">
                | TECH STACK |
               </p>        
          
              <div class ="col s4 center-align">

                <p class = "montserrat flow-text white-text"> ANGULAR.JS</p>
  
              </div>
        
              <div class ="col s4 center-align">
  
                <p class = "montserrat flow-text white-text"> MATERIAL CSS</p>
  
              </div>

              <div class ="col s4 center-align">
  
                <p class = "montserrat flow-text white-text"> HTML5</p>
  
              </div>
  
            </div>
         
          </div>
         

        </div>

        <div class = "col s6 center-align" ">

          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> SHINE DESIGN APP HOUSE</p>
          <div class = "col s2"></div>

          <div class = "col s8" style="border-bottom: 3px solid white;"></div>

          <div class = "col s2"></div>

          <div class = "row">

            <div class = "col s12">

              <p class = "montserrat flow-text white-text">
                - Designing and developing full-stack web applications, with a development history including Employee Management, 
                Inventory Management, E-Commerce, Social Media, Data Visualisation, and more.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using modern Front-End JavaScript Frameworks, ( Angular, React, Bootstrap, Express, etc), to create powerful, dynamic, scalable, and secure experiences on the web.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using HTML, and CSS, along with modern CSS Frameworks to produce expressive, stylish, and responsive UIs, and UXs.
              </p>
              <p class = "montserrat flow-text white-text">
                - Using powerful back-end technologies and frameworks, ( Nodejs, Express, MongoDB, Mongoose, etc), to write feature-full, logical, and secure Runtimes, APIs, and Build Pipelines, and more!.
              </p>
              <p class = "montserrat flow-text white-text">
                - Prototyping  applications, and creating proposals tailored to attract clientele of various backgrounds,  and that communicate technical concepts effectively.
              </p>
              <p class = "montserrat flow-text white-text">
                - Communicating clearly with clients so as to better understand their wants/ needs, and creating software that meets those needs, while managing expectations. 
              </p>
              <p class = "montserrat flow-text white-text">
                - Meeting, timelines and deadlines. A large focus on time management.
              </p>
              <p class = "montserrat flow-text white-text">
                - Staying informed of the latest market and technology trends in the tech sector.
              </p>
              <p class = "montserrat flow-text white-text">
                - References Available Upon request.
              </p>

            </div>

          </div>

          <div class = "row">
            <div class = "col s12">

              <p class = "montserrat flow-text white-text">
                | TECH STACK |
               </p>        
          
              <div class ="col s4 center-align">

                <p class = "montserrat flow-text white-text"> ANGULAR.JS</p>
  
              </div>
        
              <div class ="col s4 center-align">
  
                <p class = "montserrat flow-text white-text"> MATERIAL CSS</p>
  
              </div>

              <div class ="col s4 center-align">
  
                <p class = "montserrat flow-text white-text"> HTML5</p>
  
              </div>
  
            </div>
         
          </div>
         

        </div>
      </div>

      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>

      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>
      <div class = "row"></div>

      <div class = "row" >
        <div id="image1"class = "col s6 animated fadeIn" style="">

        <!---  <img src="./css/SHINEBRIGHTLOGIN.png" class = "responsive-img animated fadeInLeft" style="">-->

        <div style="position:absolute; z-index:-1;height:100%;left:13%; width:100%; ">
       
          <p class = "montserrat animated flash infinite white-text" style="font-size:50px;">LOADING...</p>
        </div>
    
        
        <iframe id="theFrame" src="https://aqueous-woodland-14387.herokuapp.com" 

        " style="width:100%; height:1000px;" frameborder="0">
        </iframe>

        </div>
        <div class = "col s6 center-align" ">
    
       
 
          <p class= "montserrat flow-text animated fadeIn white-text" style="font-size:58px;"> SHINE BRIGHT LIFE COACHING</p>
          <div class = "col s2"></div>

          <div class = "col s8" style="border-bottom: 5px solid white;"></div>

          <div class = "col s2"></div>

          <div class = "row">
            <div class = "col s12">
      
              <p class = "montserrat flow-text white-text">
                Life is hard enough, making an appointment shouldnt' be! Shine Bright Coaching is an web application focused on making scheduling appointments a fun
                ,smooth, and pleasant experience ;)
              </p>
            </div>
          </div>

          <div class = "row" >
            <div class = "col s12">

         
               <div class = "col s12" style="border-bottom:4p solid white;">
                <p class = "montserrat flow-text white-text underline">
                 | TECH STACK |
                </p>             </div>

              <div class = "row ">
                <div class ="col s4 center-align">

                  <p class = "montserrat flow-text white-text"> ANGULAR.JS</p>
    
                </div>
                <div class ="col s4 center-align">
    
                  <p class = "montserrat flow-text white-text"> NODE.JS</p>
    
                </div>
              
                <div class ="col s4 center-align">
    
                  <p class = "montserrat flow-text white-text"> MONGODB</p>
    
                </div>
                <div class ="col s4 center-align">
  
                  <p class = "montserrat flow-text white-text"> ATLAS CLOUD STORAGE</p>
    
                </div>
                <div class ="col s4 center-align">
    
                  <p class = "montserrat flow-text white-text"> MATERIAL CSS</p>
    
                </div>
              
                <div class ="col s4 center-align">
    
                  <p class = "montserrat flow-text white-text"> THREE.JS LIBRARY</p>
    
                </div>

              </div>
  

            </div>
         
          </div>
         

        </div>
      </div>



     


     
  </div>


</div>

</body>

<script>


  $('.scrollspy').scrollSpy({
  scrollOffset: 0
  })




$(window).scroll(function() {

    var winHeight = $(this).height();
    var scrollTop = $(this).scrollTop();
    
    console.log("windHeight", winHeight)
    console.log("scrollTop",scrollTop)

    if(scrollTop< 1600){

      $("html").removeClass("bg2").addClass("bg1")

    }

    if(scrollTop >= 3018){

      $("html").removeClass("bg1").removeClass("bg3").addClass("bg2");

    }

    if(scrollTop >= 4450){

      $("html").removeClass("bg2").addClass("bg3");

    }

});

</script>


</html>

