<html ng-app="store" ng-controller="mainCtrl"   class=" animated fadeIn fast">

<head  >

  <title>SD | APP SHOWCASE</title>

  <meta name="theme-color" content="black" />

  <meta name="DESCRIPTION"
    content="Your Modern Web. A web application is the way the modern web user interacts with web content. Get in touch and build your own! ">
    <base href="/">

  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />

  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
  <link href="./css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

  <!-- JavaScript Dependencies -->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r124/three.min.js" integrity="sha512-jeYvJdyAYkpQCY/omvCYQo89qA5YxDW4JBT7COPsHT2sOAanwxkZRFeP9gc69b5reSDpZIoyCqZQZcWZkbB5Gw==" crossorigin="anonymous"></script>        
  <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
  <script  type="text/javascript" src="./js/OrbitControls.js"></script>
  <script type="text/javascript" src='./js/threejs.js'></script>
  <script src="/js/angular-chart.js"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/routes.js" type="text/javascript"></script>


  <!-- JavaScript Dependencies -->

</head>
<!--
<a href="#backtotop" ng-click="tap()"class="black-text">
  <i class = "material-icons black-text" style=" position:fixed; font-size:150px; bottom:150; right:0; z-index:1000">publish</i>
  </a>-->
<body  style="background-color:white;"class="section scrollspy" id="backtotop" > 

  <div  style="border:2px solid white;position:fixed; top:0;height:150px; width:100vw; background-color:white;;z-index:2000;">

 
    <div style="position:absolute; left:0vw; bottom:0;;" >
      <div class = " center-align" style="position:absolute;border:2px solid rgb(209, 226, 243); left:1vw; bottom:0;height:100px; width:100px; border-radius:25px; z-index:1; box-shadow:2px 2px 2px black; "">
        
      <img src='./images/menulogo.svg' style="position:absolute;left:0; bottom:0; height:100px;width:100px;">
      </div>
    </div>
    <span style="position:absolute; left:40vw; bottom:0; font-family:'hind'; font-size:30px;">Plans</span>
    <span style="position:absolute; left:50vw; bottom:0;font-family:'hind'; font-size:30px;">Plans</span>

    <span style="position:absolute; left:60vw; bottom:0; font-family:'hind'; font-size:30px;">Plans</span>
    <div class = "row"></row>

    <div style="position:absolute; right:0vw; top:10; bottom:0;" >
      <div class = "black" style="position:absolute; right:0; bottom:0; height:70px; width:200px; border-radius:50px; z-index:3000;">
        
        <p class="flow-text" style="font-family:'hind';padding-left:40px; padding-bottom:30px;color:white"">My Account</p>

      </div>
    </div>
    <div style="position:absolute;; top:10; left:45.5vw;">

      
    </div>

    <div style="position:absolute; top:10; left: 80vw;">
    
    </div>
    </div>
  </div>

<div class = "row">

</div>
<div class = "row"></div>
<div class = "row"></div>

<div class = "row"></div>

<div class = "row"></div>

<div class = "row"></div>

  <div class = "row animated " >

    <div class = "col s6 left-align">
      <div class = "col s2">
        <br>
        <br>

      </div>
      <div class = "col s8 left-align">
      </div>
    
  
      </div>
   
        <div class = "col s6 center-align" >
          <br>
         
        </div>

    </div>
    <!---
    <div style="position:absolute; height:400px; width:60vw; top:40vh;">
      <p class = "flow-text" style="font-family:'ws';"> - Designing and developing full-stack web applications, with a development history including Employee Management, Inventory Management, E-Commerce, Social Media, Data Visualisation, and more.
        - Using modern Front-End JavaScript Frameworks, ( Angular, React, Bootstrap, Express, etc), to create powerful, dynamic, scalable, and secure experiences on the web.
        - Using HTML, and CSS, along with modern CSS Frameworks to produce expressive, stylish, and responsive UIs, and UXs.
                 </p>
    </div>-->
    <div class = "container">

    <div class = "row" style=" border-radius:25px; box-shadow:4px 4px 4px grey; ">
   

      <div class = "col s4 animated back center-align " style="font-weight: 800;"  >

        

        <span style="font-family:'lato'; font-size:50px;color:black; padding-left:30px;">Zaid.D.Samuel</span>
        <p class="montserrat left-align" style="font-family:'ws'; font-size:30px;color:sblack; padding-left:60px;">FULL-STACK ENGINEER |</p>
        <div class = "col s12">
       
        </div>

            <div ng-show = "chart1" class = 'col s12 animated fast' ng-class="{'fadeOutLeft': fadeoutleft , 'fadeOutRight':fadeoutright,'fadeInLeft':fadeinleft, 'fadeInRight':fadeinright }">
             
            </div>
            <div class=" row">
              <div class = "col s2 left-align"style="border-radius:25px; background-color:rgb(209, 226, 243);; border:6px solid white;;box-shadow:4px 4px 4px black;">
              
                <br>
    <img ng-click="left()"class = 'img-responsive'style="height:30px; width:30px;"src="./images/LEFT.svg">
                </i>
                <br>
                <br>
    
            </div>
           <div class = "col s2">
           
    
           </div>
           <div class = "col s2 left-align"style="border-radius:25px; background-color:rgb(209, 226, 243);; border:6px solid white;;box-shadow:4px 4px 4px black;">
              
            <br>
            <img ng-click="right()" style="padding-left:10px;height:30px; width:30px;"class = 'img-responsive'src="./images/RIGHT.svg">
    
            </i>
            <br>
            <br>
    
        </div>
        <div class = "col s6 right-align">
    </div>
    
          </div>
    
      </div>
      <div class = "col s6">
        <img src="./images/search.svg" class="img-responsive" style="height:800px; width:800px;
        ">
      </div>

      <div class = "col s2"></div>

    </div>

  </div>

      <div class = "row"></div>
      <div class = "row"></div>


      <div class = "row animated " >


       

<div class = 'row'></div>
<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>
<div class = 'row'></div>
<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>


      </div>
      
     
<!--
      <div  style="border-radius: 25px;  border:8px solid black;position:fixed; bottom:0;height:150px; width:100vw; background-color:#ab9d80;">


        <div style="position:absolute; left:10vw; bottom:21;" >
          <a href="/shinebright">
          <i class = "material-icons black-text" style="font-size:80px;">face
          </i>
          </a>
        </div>
        <div style="position:absolute;; bottom:21; left:45.5vw;">
          <i class = "material-icons black-text " style="font-size:80px;">chat
          </i>
          
        </div>

        <div style="position:absolute; bottom:21; left: 80vw;">
          <i class = "material-icons black-text " style="font-size:80px;">insert_chart
          </i>

        </div>
        </div>
      -->

  

  
      
      </div>
</body>

<script>
  $('.scrollspy').scrollSpy({
    scrollOffset: 0
    })
  </script>