<html ng-app="store" ng-controller="mainCtrl"   class=" animated fadeIn fast">

<head>

  <title>SD | APP SHOWCASE</title>

  <meta name="theme-color" content="black" />

  <meta name="DESCRIPTION"
    content="Your Modern Web. A web application is the way the modern web user interacts with web content. Get in touch and build your own! ">
    <base href="/">

  <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />

  <!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
  <link href="./css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

  <!-- JavaScript Dependencies -->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <script src="/js/angular-chart.js"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/routes.js" type="text/javascript"></script>


  <!-- JavaScript Dependencies -->

</head>


<body  style="background-color:#302c24" > 

  <div  style="border-radius: 25px; border:8px solid black;position:fixed; top:0;height:150px; width:100vw; background-color:#ab9d80;z-index:2000;">

 
    <div style="position:absolute; left:0vw; top:10;" >
      <div class = "black" style="position:absolute; left:0; top:0;height:100px; width:100px; border-radius:25px; z-index:1;">
        
        <span class= " white-text"style="position:absolute; left:3vw; top:1vw; padding-bottom:3s0px;font-family:'hind'; font-size:60px; color:black;">Z</span>
        <img src='./images/BANNERSVGUI.svg' style="position:absolute;left:6vw;;">
      </div>

    <div style="position:absolute; left:100vw; top:100;" >
    
    </div>
    <div style="position:absolute;; top:10; left:45.5vw;">

      
    </div>

    <div style="position:absolute; top:10; left: 80vw;">
    
    </div>
    </div>
  </div>

<div class = "row">

</div>
<div class = "row"></div>
<div class = "row"></div>

<div class = "row"></div>

<div class = "row"></div>

<div class = "row"></div>

  <div class = "row animated " >

    <div class = "col s6 left-align">
      <div class = "col s2">
        <br>
        <br>
        <i class = "material-icons" style="font-size:100px;padding-top:10px;color:#ab9d80"">history</i>

      </div>
      <div class = "col s8 left-align">
      <p class= "animated shake animate__repeat-2 "style="font-family:'hind'; font-size:60px; color:#ab9d80; padding-left:25px;"> History</p>
      </div>
    
  
      </div>
   
        <div class = "col s6 center-align">
          <br>
          <div class = "black" style="position:absolute;top:180; right:10;height:100px; width:100px; border-radius:25px;">
            
            <i class = "material-icons white-text" style="font-size:80px;padding-top:10px;">archive</i>
          </div>
        </div>

    </div>

      <div class = "row animated  " style="border:10px solid black; border-radius:25px;" >
        <span style="font-family:'hind'; font-size:50px;color:#ab9d80; padding-left:30px;">{{currentChart}} of 2</span>

            <div ng-show = "chart1" class = 'col s12 animated fast' ng-class="{'fadeOutLeft': fadeoutleft , 'fadeOutRight':fadeoutright,'fadeInLeft':fadeinleft, 'fadeInRight':fadeinright }">
              <img src="./images/CHARTUI.svg" class="img-responsive" >

            </div>
           
    
      </div>

      <div class = "row"></div>
      <div class = "row"></div>


      <div class = "row animated " >


        <div class="container row">
          <div class = "col s2 center-align"style="border-radius:25px; border:6px solid #ab9d80;">
          
            <br>
            <i class = "material-icons" ng-click="left()"style="font-size:80px; color:#ab9d80 ">navigate_before

            </i>
            <br>
            <br>

        </div>
       <div class = "col s2">
       

       </div>
       <div class = "col s2 center-align"style="border-radius:25px; border:6px solid #ab9d80;">
          
        <br>
        <i ng-click="right()" class = "material-icons" style="font-size:80px; color:#ab9d80 ">navigate_next

        </i>
        <br>
        <br>

    </div>
    <div class = "col s6 right-align">
      <i class = "material-icons" style="font-size:300px; color:black ">pie_chart_outlined     </i>
           </div>

  </div>

    <div class = "col s6"></div>
    <div class = "row">

  
      <div class = "col s2 left-align">
        <br>
        <br>

      </div>
      <div class = "col s10 left-align">

      </div>    

    
    </div>

    <div class = "row container animated  " style="border-radius: 25px; border:8px solid #ab9d80; overflow-y:auto; height:20vh;;">
      <p class= "animated shake animate__repeat-2 "style="font-family:'hind'; font-size:60px; color:#ab9d80; padding-left:25px;"> Transactions:</p>

       
         
      <div class = "col s5 center-align" style="">
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>
          <p style="font-size:80px;">12-12-21</p>

      </div>
      <div class = "col s2" style="border-right:4px solid black; border-left:4px solid black;"></div>

      <div class = "col s5 center-align"  >
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
        <p style="font-size:80px;">12-12-21</p>
      
    </div>
  
   
    </div>
<div class = 'row'></div>
<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>
<div class = 'row'></div>
<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>

<div class = 'row'></div>


      </div>
      
     

      <div  style="border-radius: 25px;  border:8px solid black;position:fixed; bottom:0;height:150px; width:100vw; background-color:#ab9d80;">


        <div style="position:absolute; left:10vw; bottom:21;" >
          <a href="/shinebright">
          <i class = "material-icons black-text" style="font-size:80px;">face
          </i>
          </a>
        </div>
        <div style="position:absolute;; bottom:21; left:45.5vw;">
          <i class = "material-icons black-text " style="font-size:80px;">chat
          </i>
          
        </div>

        <div style="position:absolute; bottom:21; left: 80vw;">
          <i class = "material-icons black-text " style="font-size:80px;">insert_chart
          </i>

        </div>
        </div>


  

  
      
      </div>
</body>